%nav.navbar.navbar-dark.bg-dark
	%a.navbar-brand{:href => "#"}
		%img.d-inline-block.align-top{:alt => "", :height => "30", :src => "https://simpul.tech/logo-transparent.png", :width => "30"}/
		Challange Interview ( Hanafi.D) 

.container
	.my-4
		.row 
			- @users.each do | user|
				.col-6.text-center
					.card
						.card-body
							%h5.card-title
								= user.room.name
							.image-box.mb-1
								= image_tag(user.url_image, class: "w-20", height: "80px")

							%p.card-text= "#{user.name} - #{user.description}"
							%hr
							.chat{"data-channel-subscribe-#{user.id}"=> "room", "data-room-id"=>"#{Room.first.id}"}
								- @room_messages.each do |room_message|
									- if room_message.present?
										.row
											- if room_message.user&.id == user&.id
												.col-4
											.chat-box{class: "col-8"}
												.chat-message-container 
													.row.no-gutters
														.col-2.text-center
															=image_tag(room_message.user&.url_image || "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png", class: "avatar w-100")
														
														.col-10
															.message-content{class: "#{room_message.user&.id == user&.id ? 'sender-person' : 'receiver-person'}"}
																%p.mb-1.text-left
																	=room_message.message
																.text-right
																	%small
																		=room_message.created_at
								.d-none{"data-role" => "message-template-#{user.id}"}
									.row
										.col-4{"data-role" => "dynamic-coloumn"}
										%div{class: "col-8"}
											.chat-message-container 
												.row.no-gutters
													.col-2.text-center
														%img.avatar{:alt => "", "data-role" => "user-avatar", :src => ""}/
													.col-10
														.message-content{"data-role" => "message-box"}
															%p.mb-1.text-left{"data-role" => "message-text"}
															.text-right
																%small{"data-role" => "message-date"}
							= simple_form_for @room_message, url: room_messages_path(@room_message, :user_id => user.id), remote: true do |form|
								.input-group.mb-3.mt-3
									.col-10 		
										= form.input :message, as: :string, label: false, input_html: { class: "form-control " }
									.col-2
										= form.submit "Send", class: 'btn btn-primary chat-input w-100'
								= form.input :room_id, as: :hidden

				= render partial: 'chat_channel', :locals => {:user => user}

		.row.mt-2
			.col.text-right
				=link_to destroy_all_room_messages_path, class: "btn btn-danger" do
					="Delete All Chat"

		
		